li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: #FF014A;
}

header {
  position: fixed;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 2500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #82C41C;
}

.navbar .logo img {
  width: 40px;
  height: 40px;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.toggle_btn {
  margin-right: 30px;
}

.action_btn {
  background-color: #FF014A;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 100px;
  transition: scale 0.2 ease;
}

.fa-whatsapp {
  color: #25D366;
  font-size: 1rem;
}

.fa-facebook {
  color: #4267B2;
  font-size: 1rem;
}

.fa-facebook:hover {
  color: white;
}

.fa-location-dot {
  color: #FF014A;
  font-size: 1rem;
}

.fa-location-dot:hover {
  color: black;
}

.action_btn:hover {
  scale: 1.05;
  background-color: white;
}

.action_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 400px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media(max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media(max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}