section#slider {
	width: 100%;
}

section#slider span.nowrap {
	white-space: nowrap;
}

section#slider .slider-wrapper {
    padding: 0;
}

section#slider .scroll-wrapper {
    width: 100%;
    overflow-x: hidden;
}

section#slider ul {
    padding: 0;
    width: max-content;
		margin-right: 0;
    margin-left: 0;
	  margin-bottom: 0;
}

section#slider li.slider {
    display: inline-block;
    position: relative;
    width: 24.6vw;
}

section#slider li.slider img {
    margin: 5px 10px 0 0;
    display: block;
    height: auto;
    max-width: 100%;
}

section#slider span.slider-name, span.slider-title {
    display: block;
    position: absolute;
    color: #fff;
    left: 2vw;
}

section#slider span.slider-name {
    font-weight: 900;
    bottom: 4vw;
    font-size: 1.5vw;
}

section#slider span.slider-title {
    font-weight: 100;
    bottom: 2.5vw;
    font-size: 1.3vw;
}

section#slider .more-slider {
    padding: 1vh 5% 0;
}

section#slider .more-slider h4 {
    font-family: 'Playfair Display', serif;
    color: #5896b0;
    font-weight: 500;
    font-size: 3vw;
    padding: 35px 0 25px 0px;
    margin-bottom: 0;
    margin-top: 8px;
}

section#slider .more-slider p {
		padding-bottom: 2vh;
}

section#slider .slide-controls {
    color: #5896b0;
    font-weight: 300;
}

section#slider .slide-controls span.slider-previous {
    margin-right: 75px;
}

section#slider .slide-controls i {
    font-size: 26px;
}

section#slider .more-slider a.button {
    border: 1px solid #5896b0;
    max-width: 200px;
    color: #5896b0;
    margin-top: 6vw;
}

section#slider .more-slider a.button:hover {
    color: #fff;
}

section#slider .more-slider a.button:before {
    background: #5896b0;
}

/*** Media Queries ***/

@media (max-width: 991px) {
		section#slider .more-slider {
				padding: 1vh 3% 0;
		}

		section#slider .more-slider h4 {
				font-size: 5vw;
				padding: 0 0 15px 0;
		}

    section#slider .slider-wrapper {
        width: 50%;
    }

    section#slider .content {
        padding: 35px;
    }

    section#slider .more-slider a.button {
        margin-top: 4vw;
        max-width: 175px;
        font-size: 15px;
        padding: 5px 0;
    }
}
	
@media (max-width: 768px) {
		section#slider .area {
			padding-right: 0;
			padding-left: 0;
		}
	
		section#slider .slider-wrapper {
        width: 100%;
    }

    section#slider .scroll-wrapper {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    section#slider li.slider {
        width: 49.2vw;
    }
	
	section#slider span.slider-title {
        bottom: 3.5vw;
        font-size: 3.3vw;
    }

    section#slider span.slider-name {
        bottom: 7vw;
        font-size: 3.5vw;
    }

    section#slider .more-slider h4 br, section#slider .slide-controls {
        display: none;
    }

     section#slider .more-slider a.button {
        margin-top: 0;
    }

    section#slider {
        padding-bottom: 0;
				margin-left: 0;
    }

    section#slider .more-slider {
        padding-left: 0;
    }

    section#slider .more-slider h4 {
        font-size: 7vw;
        
    }
}